{% extends "base.html" %}

{% block title %}Dashboard | Task Manager{% endblock %}

{% block content %}
<h2>My Tasks</h2>

<div class="card mb-4 shadow-sm">
    <div class="card-body">
        <h5 class="card-title mb-3">Add New Task</h5>

        <form method="post" action="{{ url_for('add_task') }}">
            <div class="row g-3 align-items-end">

                <div class="col-md-4">
                    <label class="form-label">Task Title</label>
                    <input type="text" name="title" class="form-control" placeholder="Enter task title" required>
                </div>

                <div class="col-md-4">
                    <label class="form-label">Description</label>
                    <textarea name="description" class="form-control" rows="1"
                        placeholder="Optional description"></textarea>
                </div>

                <div class="col-md-2">
                    <label class="form-label">Priority</label>
                    <select name="priority" class="form-select">
                        <option value="Low">Low</option>
                        <option value="Medium" selected>Medium</option>
                        <option value="High">High</option>
                    </select>
                </div>

                <div class="col-md-2">
                    <label class="form-label">Category</label>
                    <select name="category" class="form-select" required>
                        <option value="General">General</option>
                        <option value="Work">Work</option>
                        <option value="Personal">Personal</option>
                        <option value="Study">Study</option>
                    </select>
                </div>




                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary w-100">
                        ➕ Add Task
                    </button>
                </div>

            </div>
        </form>
    </div>
</div>


<div class="card mb-4 shadow-sm">
    <div class="card-body">
        <h5 class="card-title mb-3">Filter Tasks</h5>

        <form method="GET" action="{{ url_for('dashboard') }}">
            <div class="row g-3 align-items-end">

                <div class="col-md-4">
                    <label class="form-label">Status</label>
                    <select name="status" class="form-select">
                        <option value="">All Status</option>
                        <option value="Pending" {% if selected_status=="Pending" %}selected{% endif %}>
                            Pending
                        </option>
                        <option value="Completed" {% if selected_status=="Completed" %}selected{% endif %}>
                            Completed
                        </option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label class="form-label">Priority</label>
                    <select name="priority" class="form-select">
                        <option value="">All Priority</option>
                        <option value="Low" {% if selected_priority=="Low" %}selected{% endif %}>Low</option>
                        <option value="Medium" {% if selected_priority=="Medium" %}selected{% endif %}>Medium</option>
                        <option value="High" {% if selected_priority=="High" %}selected{% endif %}>High</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <label class="form-label">Category</label>
                    <select name="category" class="form-select">
                        <option value="">All Categories</option>
                        <option value="General" {% if selected_category=="General" %}selected{% endif %}>General
                        </option>
                        <option value="Work" {% if selected_category=="Work" %}selected{% endif %}>Work</option>
                        <option value="Personal" {% if selected_category=="Personal" %}selected{% endif %}>Personal
                        </option>
                        <option value="Study" {% if selected_category=="Study" %}selected{% endif %}>Study</option>
                    </select>
                </div>

                <div class="col-md-4">
                    <button type="submit" class="btn btn-outline-secondary w-100">
                        Filter
                    </button>
                </div>


            </div>
        </form>
    </div>
</div>


<hr>

<!-- TASK LIST -->
<div class="row">
    {% for task in tasks %}
    <div class="col-md-6 mb-3">
        <div class="card shadow-sm">
            <div class="card-body">

                <h5 class="card-title">
                    {% if task.status == "Completed" %}
                    <s>{{ task.title }}</s>
                    {% else %}
                    {{ task.title }}
                    {% endif %}
                </h5>

                <p class="card-text">{{ task.description }}</p>

                <span class="badge 
{% if task.category == 'Work' %}bg-primary
{% elif task.category == 'Personal' %}bg-success
{% elif task.category == 'Study' %}bg-warning
{% else %}bg-dark{% endif %}
 me-1">
                    {{ task.category }}
                </span>


                <span class="badge 
          {% if task.priority == 'High' %}bg-danger
          {% elif task.priority == 'Medium' %}bg-warning
          {% else %}bg-success{% endif %}
        ">
                    {{ task.priority }}
                </span>

                <span class="badge 
          {% if task.status == 'Completed' %}bg-secondary
          {% else %}bg-info{% endif %}
        ">
                    {{ task.status }}
                </span>

                <hr>

                <a href="{{ url_for('toggle_task', task_id=task.id) }}" class="btn btn-sm btn-outline-primary">
                    Toggle Status
                </a>

                <a href="{{ url_for('edit_task', task_id=task.id) }}" class="btn btn-sm btn-outline-secondary">
                    Edit
                </a>

                <a href="{{ url_for('delete_task', task_id=task.id) }}" class="btn btn-sm btn-outline-danger">
                    Delete
                </a>

            </div>
        </div>
    </div>
    {% else %}
    <p class="text-muted">No tasks yet.</p>
    {% endfor %}
</div>
<br>

{% endblock %}